body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; 
    background-image: url('./assets/nubes-dibujos-animados-cielo-ai-generativo-fondo-cielo-azul_958165-3919.jpg.jpg'); 
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}

/* Capa difuminada superpuesta */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./assets/nubes-dibujos-animados-cielo-ai-generativo-fondo-cielo-azul_958165-3919.jpg.jpg');
    filter: blur(10px); 
    z-index: -1;
}

.navbar {
    background-color: #000;
    color: #fff; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
   
}

.navbar-title {
    font-size: 60px; 
    font-weight: bold;
    flex-grow: 1; 
    text-align: center;
    margin-left: 110px;
}

.navbar-logo img {
    max-height: 80px; 
    border-radius: 80%;
    
}
.search-bar {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 50%;
    border-radius: 10px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.7); 
    margin-top: 20px;
    margin-bottom: 20px;
  }
    

.search-bar input {
    border: none;
    outline: none;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.324); 
}

.search-bar button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 30px;
}

.weather-info {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 50vh; 
    height: 50vh;
    max-width: 80%; 
    max-height: 80%;
    margin-left: 480px;
    background-color: rgba(255, 255, 255, 0.7); 
    border-radius: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

.footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
}


